* {
  margin: 0;
  padding: 0;
  text-align: center;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.4;
  font-size: 2rem;
  background-color: #eee;
}
ul {
  list-style: none;
}

/* all header and wishlist styling */
nav {
  height: 64px;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.navigation {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: inherit;
  margin-left: 14px;
  padding: 8px 14px;
  position: relative;
}
nav li:nth-child(1) {
  margin-left: 14px;
}
/* cool hover effect on the a tags, idea from here: https://codepen.io/martinwolf/pen/eNNdme */
nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #222831;
  transition: width .3s;
}
nav a:hover::before {
  width: 100%;
}
.banner {
  height: 500px;
  background-image: url('./assets/steamheader.png');
  background-position: center;
  background-size: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.wishlistContainer {
  background-color: white;
}
.wishlistContainer .fa-heart,
.wishlistContainer .fa-times {
  position: absolute;
  height: 36px;
  width: 36px;
  top: 14px;
  right: 14px;
}
.wishlistContainer .fa-heart {
  color: #222831;
}
/* hidden class is added/removed on button click */
.wishlistContainer .hidden { 
  display: none;
}
.wishlistContainer svg {
  cursor: pointer;
}
.displayWishlist {
  background-color: #222831;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  height: calc(100vh - 30px); /* to account for padding on top */
  width: 50vw;
  max-height: calc(100vh - 30px);
  max-width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  overflow-y: scroll;
  z-index: 100;
}
.gameContainer .logoContainer {
  min-height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.gameContainer {
  padding-bottom: 10px;
  border-bottom: 2px solid #ffd369;
  max-height: 350px;
}
.gameContainer .fa-trash {
  padding-top: 20px;
  width: 36px;
  height: 36px;
}
.gameContainer img {
  width: 80%;
  
}
.hidden {
  display: none;
  height: 0px;
}

/* MAIN content section */
/* search styles first */
/* custom checkbox and radio from here: (I actually love these!):
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
  https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
*/
/* hide the browser's default radio & checkbox clickables */
form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

form label {
  position: relative;
  cursor: pointer;
  padding-left: 36px;
  margin-bottom: 10px;
}

/* create new radios */
form .newRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  border: 4px solid #222831;
  border-radius: 50%;
}

form label:hover .newRadio {
  background-color: #222831;
}

form input:checked ~ .newRadio {
  background-color: #222831;
  border: 2.5px solid #ffd369;
}

form .newRadio:after {
  content: "";
  position: absolute;
  display: none;
}

form input:checked ~ .newRadio:after {
  display: block;
}

/* create new checkbox */
form .checkmark {
  position: absolute;
  top: 5px;
  left: -2px;
  height: 20px;
  width: 20px;
  border: 4px solid #222831;
}

/* On mouse-over, add a grey background color */
form .container:hover input ~ .checkmark {
  background-color: #222831;
}

/* When the checkbox is checked, add a blue background */
form .container input:checked ~ .checkmark {
  background-color: #222831;
}

/* Create the checkmark/indicator (hidden when not checked) */
form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
form .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
form .container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #ffd369;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* main styles */
main { 
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
  max-width: 1600px;
}
.search {
  background-color: #393e46;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
}
.search input {
  margin-bottom: 15px;
}
.gamesOutput {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
.item, .search {
  width: 100%;
  margin: 0 auto 30px;
  max-width: 460px;
}
/* item is each game that is rendered */
.item {
  background-color: #393e46;
  color: white;
  border-radius: 8px;
  position: relative;
  height: 450px;
}
.item .title {
  color: #ffd369;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item p:nth-child(3) {
  margin-bottom: 10px;
}
.item img {
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
main button {
  font-size: 2rem;
  padding: 8px 8px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}
/* Add to wishlist button */
.gamesOutput button {
  margin: 30px 20px 20px 20px;
  width: 60%;
  background-color: #eee; 
}
.gamesOutput button:hover {
  transform: scale(1.1);
}
/* Load More button */
main .loadMore {
  width: 180px;
  margin: 20px auto 40px auto;
  border: 2px solid #222831;
  border-radius: 3px;
}
main .loadMore:hover {
  background: #222831;
  color: #eee;
}
footer {
  background-color: #222831;
  color: #eee;
  padding: 12px 0;
}


@media(max-width: 1000px) {
  .banner {
    height: 380px;
  }
  form label:nth-child(3) .checkmark {
    left: 25px;
  }
}

@media(max-width: 768px) {
  .banner {
    height: 250px;
  }
  .gamesOutput {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .displayWishlist {
    grid-template-columns: 1fr;
  }
  form label:nth-child(3) .checkmark {
    left: 2px;
  }
}

@media(max-width: 480px) {
  .banner {
    height: 150px;
  }
  nav a {
    margin-left: 8px;
    padding: 4px 10px;
  }
  form label:nth-child(1) .newRadio {
    top: 20px;
  }
  form label:nth-child(3) .checkmark {
    left: 0;
  }
  .displayWishlist {
    width: 80vw;
    max-width: 80vw;
  }
  .gameContainer .logoContainer {
    min-height: 100px;
    max-height: 180px;
    margin-bottom: 50px;
  }
  .gamesOutput {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .search label:nth-child(1) {
    padding-top: 20px;
  }
}