/* * {
  margin: 0;
  padding: 0;
} */
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.4;
  font-size: 2rem;
}
/* header,
section {
  min-height: 100vh;
} */
/* img {
  width: 100%;
  height: auto;
  display: block;
} */

/* fieldset {
  border: 0;
}
h2 {
  margin: 0 0 15px 0;
  text-transform: uppercase;
} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  padding-right: 20px;
}


.navigation {
  display: flex;

}

nav {
  display: flex;
  justify-content: space-between;
}
.banner {
  min-height: 200px;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* images are 460 x 215 base size */
.main { 
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
}
/* .filters {
  width: calc(25% - 10px);
}
.content {
  width: calc(75% - 10px)
} */
.gamesOutput {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  background-color: #eeee;
  max-width: 460px;
  width: calc((100% / 3) - 20px);
  margin-bottom: 20px;
}
.search {
  width: calc((100% / 3) - 20px);
  max-width: 460px;
}
.item img {
  max-width: 100%;
}


header nav {
  position: relative;
}

.wishlistContainer svg {
  cursor: pointer;
}
.wishlistContainer svg,
.wishlistContainer {
  color: white;
}
.wishlistContainer {
  position: absolute;
  right: 0;
  width: 50%;
  background-color: #222831;
}
.displayWishlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.displayWishlist .gameContainer {
  width: 100%;
}
.displayWishlist .game {
  /* margin: 20px auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 5%;
}
.displayWishlist .logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  min-width: 100%;
}
.displayWishlist .logoContainer img {
  height: 80%;
  width: 80%;
}

/* .displayWishlist .game svg {
  flex-grow: 0;
} */
/* .displayWishlist img {
  max-width: 200px;
} */
.hidden {
  display: none;
  height: 0px;
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


