* {
  margin: 0;
  padding: 0;
  text-align: center;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.4;
  font-size: 2rem;
  background-color: #eee;
}
/* header,
section {
  min-height: 100vh;
} */
/* img {
  width: 100%;
  height: auto;
  display: block;
} */
ul {
  list-style: none;
}


.navigation {
  display: flex;
  align-items: center;
}

nav {
  height: 64px;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: inherit;
  margin-left: 14px;
  padding: 8px 14px;
  position: relative;
}
nav li:nth-child(1) {
  margin-left: 14px;
}
/* cool hover effect on the a tags, idea from here: https://codepen.io/martinwolf/pen/eNNdme */
nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #222831;
  transition: width .3s;
}
nav a:hover::before {
  width: 100%;
}
.banner {
  min-height: 500px;
  background-image: url('./assets/ien0xfioljw41.png');
  background-position: center;
  background-size: 58%;
  /* background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* header images are 460 x 215 base size */
main { 
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
}

header nav {
  position: relative;
}
.wishlistContainer {
  background-color: white;
}
.wishlistContainer .fa-heart,
.wishlistContainer .fa-times {
  position: absolute;
  height: 36px;
  width: 36px;
  top: 14px;
  right: 14px;
}
.wishlistContainer .fa-heart {
  color: #222831;
}
.wishlistContainer .hidden {
  display: none;
}

.wishlistContainer svg {
  cursor: pointer;
}
.displayWishlist {
  background-color: #222831;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  height: calc(100vh - 30px); /* to account for padding on top */
  width: 50vw;
  max-height: calc(100vh - 30px);
  max-width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  overflow-y: scroll;
  z-index: 100;
  
}
.gameContainer .logoContainer {
  min-height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameContainer {
  padding-bottom: 10px;
  border-bottom: 2px solid #ffd369;
}
.gameContainer .fa-trash {
  padding-top: 20px;
}
.gameContainer img {
  width: 80%;
  
}
.hidden {
  display: none;
  height: 0px;
}

.App-header {
  /* TODO: delete this as long as we don't need this colour */
  background-color: #282c34;
}


/* main content section */
.gamesOutput {
  display: flex;
  flex-wrap: wrap;
}
/* selects all middle games */
.gamesOutput .item:nth-child(3n+2) {
  margin-right: 2.5%;
  margin-left: 2.5%;
}
/* all buttons */
main button {
  font-size: 2rem;
  padding: 8px 8px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}
/* Add to wishlist button */
/* Hover effect from here: https://ianlunn.github.io/Hover */
.gamesOutput button {
  margin: 30px 20px 20px 20px;
  width: 60%;
  background-color: #eee; 
  /* border: 4px solid #eee; */
}
.gamesOutput button:hover {
  transform: scale(1.1);
}
/* Load More button */
main .loadMore {
  width: 180px;
  margin: 20px auto 40px auto;
  border: 2px solid #222831;
  border-radius: 3px;
}
main .loadMore:hover {
  background: #222831;
  color: #eee;
}
/* item is each game that is rendered */
.item {
  /* background-color: #393e46; */
  background-color: #393e46;
  max-width: 460px;
  width: calc((100% / 3) - 20px);
  margin-bottom: 20px;
  color: white;
  border-radius: 8px;
  /* border: 3px solid #ffa62b; */
  position: relative;
  height: 400px;
}
.item .title {
  color: #ffd369;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item p:nth-child(3) {
  margin-bottom: 10px;
}
.search {
  width: calc((100% / 3) - 20px);
  max-width: 460px;
}
.item img {
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
footer {
  background-color: #222831;
  color: #eee;
  padding: 12px 0;
}